@model DetailsUserModel

@{
    ViewData["Title"] = "Информация за собственика";
}

<h2>@ViewBag.Title</h2>

<p></p>
<hr />
<div>
    <p>Име: <b>@Model.FirstName</b></p>
    <p>Фамилия: <b>@Model.LastName</b></p>
    <p>Имейл: <b>@Model.Email</b></p>
    <p>Телефонен номер: <b>@Model.Phone</b></p>
    <p>Училище: <b>@Model.School</b></p>
</div>

<div>
    @if (Model.Books.Count == 0)
    {
        <p>Този потребител няма книги обявени за продан.</p>
    }
    else
    {
        <p>Брой книги за продан: <b>@Model.Books.Count()</b></p>
    }
</div>